.classpath
.project
.settings
.checkstyle
bin
target
/build
/lib
site-content
.ekstazi
*.class
*.iml
*.ipr
*.iws
.idea
.DS_Store
*~
/.externalToolBuilders/
/maven-eclipse.xml
commons-statistics-descriptive/CONTRIBUTING.md
commons-statistics-descriptive/LICENSE.txt
commons-statistics-descriptive/NOTICE.txt
commons-statistics-descriptive/pom.xml
commons-statistics-descriptive/README.md
commons-statistics-descriptive/src/main/java/org/apache/commons/statistics/descriptive/package-info.java
commons-statistics-distribution/NOTICE.txt
commons-statistics-distribution/pom.xml
commons-statistics-distribution/README.md
commons-statistics-distribution/src/main/java/org/apache/commons/statistics/distribution/AbstractContinuousDistribution.java
commons-statistics-distribution/src/main/java/org/apache/commons/statistics/distribution/AbstractDiscreteDistribution.java
commons-statistics-distribution/src/main/java/org/apache/commons/statistics/distribution/BetaDistribution.java
commons-statistics-distribution/src/main/java/org/apache/commons/statistics/distribution/BinomialDistribution.java
commons-statistics-distribution/src/main/java/org/apache/commons/statistics/distribution/ConstantContinuousDistribution.java
commons-statistics-distribution/src/main/java/org/apache/commons/statistics/distribution/DistributionException.java
commons-statistics-distribution/src/main/java/org/apache/commons/statistics/distribution/ExponentialDistribution.java
commons-statistics-distribution/src/main/java/org/apache/commons/statistics/distribution/FDistribution.java
commons-statistics-distribution/src/main/java/org/apache/commons/statistics/distribution/GammaDistribution.java
commons-statistics-distribution/src/main/java/org/apache/commons/statistics/distribution/GeometricDistribution.java
commons-statistics-distribution/src/main/java/org/apache/commons/statistics/distribution/HypergeometricDistribution.java
commons-statistics-distribution/src/main/java/org/apache/commons/statistics/distribution/LaplaceDistribution.java
commons-statistics-distribution/src/main/java/org/apache/commons/statistics/distribution/LevyDistribution.java
commons-statistics-distribution/src/main/java/org/apache/commons/statistics/distribution/LogNormalDistribution.java
commons-statistics-distribution/src/main/java/org/apache/commons/statistics/distribution/NakagamiDistribution.java
commons-statistics-distribution/src/main/java/org/apache/commons/statistics/distribution/NormalDistribution.java
commons-statistics-distribution/src/main/java/org/apache/commons/statistics/distribution/ParetoDistribution.java
commons-statistics-distribution/src/main/java/org/apache/commons/statistics/distribution/PoissonDistribution.java
commons-statistics-distribution/src/main/java/org/apache/commons/statistics/distribution/SaddlePointExpansionUtils.java
commons-statistics-distribution/src/main/java/org/apache/commons/statistics/distribution/TDistribution.java
commons-statistics-distribution/src/main/java/org/apache/commons/statistics/distribution/TriangularDistribution.java
commons-statistics-distribution/src/main/java/org/apache/commons/statistics/distribution/UniformContinuousDistribution.java
commons-statistics-distribution/src/main/java/org/apache/commons/statistics/distribution/UniformDiscreteDistribution.java
commons-statistics-distribution/src/main/java/org/apache/commons/statistics/distribution/WeibullDistribution.java
commons-statistics-distribution/src/main/java/org/apache/commons/statistics/distribution/ZipfDistribution.java
commons-statistics-distribution/src/test/java/org/apache/commons/statistics/distribution/AbstractContinuousDistributionTest.java
commons-statistics-distribution/src/test/java/org/apache/commons/statistics/distribution/AbstractDiscreteDistributionTest.java
commons-statistics-distribution/src/test/java/org/apache/commons/statistics/distribution/BetaDistributionTest.java
commons-statistics-distribution/src/test/java/org/apache/commons/statistics/distribution/BinomialDistributionTest.java
commons-statistics-distribution/src/test/java/org/apache/commons/statistics/distribution/CauchyDistributionTest.java
commons-statistics-distribution/src/test/java/org/apache/commons/statistics/distribution/ChiSquaredDistributionTest.java
commons-statistics-distribution/src/test/java/org/apache/commons/statistics/distribution/ConstantContinuousDistributionTest.java
commons-statistics-distribution/src/test/java/org/apache/commons/statistics/distribution/ContinuousDistributionAbstractTest.java
commons-statistics-distribution/src/test/java/org/apache/commons/statistics/distribution/DiscreteDistributionAbstractTest.java
commons-statistics-distribution/src/test/java/org/apache/commons/statistics/distribution/ExponentialDistributionTest.java
commons-statistics-distribution/src/test/java/org/apache/commons/statistics/distribution/FDistributionTest.java
commons-statistics-distribution/src/test/java/org/apache/commons/statistics/distribution/GammaDistributionTest.java
commons-statistics-distribution/src/test/java/org/apache/commons/statistics/distribution/GeometricDistributionTest.java
commons-statistics-distribution/src/test/java/org/apache/commons/statistics/distribution/GumbelDistributionTest.java
commons-statistics-distribution/src/test/java/org/apache/commons/statistics/distribution/HypergeometricDistributionTest.java
commons-statistics-distribution/src/test/java/org/apache/commons/statistics/distribution/LaplaceDistributionTest.java
commons-statistics-distribution/src/test/java/org/apache/commons/statistics/distribution/LevyDistributionTest.java
commons-statistics-distribution/src/test/java/org/apache/commons/statistics/distribution/LogisticsDistributionTest.java
commons-statistics-distribution/src/test/java/org/apache/commons/statistics/distribution/LogNormalDistributionTest.java
commons-statistics-distribution/src/test/java/org/apache/commons/statistics/distribution/NakagamiDistributionTest.java
commons-statistics-distribution/src/test/java/org/apache/commons/statistics/distribution/NormalDistributionTest.java
commons-statistics-distribution/src/test/java/org/apache/commons/statistics/distribution/ParetoDistributionTest.java
commons-statistics-distribution/src/test/java/org/apache/commons/statistics/distribution/PascalDistributionTest.java
commons-statistics-distribution/src/test/java/org/apache/commons/statistics/distribution/PoissonDistributionTest.java
commons-statistics-distribution/src/test/java/org/apache/commons/statistics/distribution/TDistributionTest.java
commons-statistics-distribution/src/test/java/org/apache/commons/statistics/distribution/TestUtils.java
commons-statistics-distribution/src/test/java/org/apache/commons/statistics/distribution/TriangularDistributionTest.java
commons-statistics-distribution/src/test/java/org/apache/commons/statistics/distribution/UniformContinuousDistributionTest.java
commons-statistics-distribution/src/test/java/org/apache/commons/statistics/distribution/UniformDiscreteDistributionTest.java
commons-statistics-distribution/src/test/java/org/apache/commons/statistics/distribution/WeibullDistributionTest.java
commons-statistics-distribution/src/test/java/org/apache/commons/statistics/distribution/ZipfDistributionTest.java
